.in-animation {
    h1 {
        animation: slide-in-from-bottom 400ms ease-in-out both;
    }
}

@keyframes slide-in-from-bottom {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Aktivierte Form (deutlich krummer) */
.zebrastreifen.active {
  transform: scaleX(1.4) scaleY(0.7) skewX(20deg) rotate(3deg);
  border-radius: 60% 10% / 40% 80%;
}

/* Abwechslung zwischen geraden und ungeraden Streifen */
.zebrastreifen:nth-child(even).active {
  transform: scaleX(1.4) scaleY(0.7) skewX(-20deg) rotate(-3deg);
  border-radius: 10% 60% / 80% 40%;
}
