@import "animations.css";
@import "fonts.css";
@import "reset.css";

body {
  font-family: 'K2D', sans-serif;
}

/* Basisbilder */
.title-img {
  width: 100%;
  height: auto;
}

/* Der ganze Titelbereich bildet den Positionierungsrahmen */
#title {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#title-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#title-pic-top-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#title-pic-bottom-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#title-text-container {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 3;
text-align: center;
}

/* Schriftgrösse und Stil */
.title-text {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #ffd553;
} 

.title-description {
  font-size: 1.2rem;
  line-height: 1.4;
  color: #ffd553;
}

#opener-quote {
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem 1rem;
  color: #ffd553;
}

/* --- OPENER SECTION --- */
#opener {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #3f75af;
}

/* Ellipsen fixiert als Hintergrund */
#ellipse-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.ellipse-img img {
  width: 25vw;
  height: auto;
  object-fit: contain;
}

/* Titel im Vordergrund */
#story-title-container {
  position: absolute;
  top: 50%;
  left: 0; /* Statt 50% */
  transform: translateY(-50%); /* Nur vertikal zentrieren */
  white-space: nowrap;
  z-index: 2;
  width: 100%;
  overflow: visible;
}


#story-title {
  font-size: 20vw; /* Extrem gross – ragt über den Viewport hinaus */
  color: #ffd553;
  font-weight: 700;
  text-transform: uppercase;
}


#story-chapter-1 {
  height: 100vh;
  background-color: red;
}